*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Roboto', sans-serif;	
}
.container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 10% 1fr;
    margin: 50px auto;
    width: 80%;
    height: 70vh;
    align-items: center;
}

.cabeza{
    grid-column: 1/3;
    grid-row: 1/2;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #d64b4b;
    height: 100%;
    
}
.faltante{
    width: 90%;
    margin: 0 auto;
}
.cont{
    width: 90%;
    margin: 0 auto;
    
}

