*{
    margin: 0;
    padding: 0;
}
:root{
    --color-backgroud-header:#0ead69;
    --color-letras:#eff7f6;
    --color_para_boydy:#0d3b66;
    -color-para-cajas:#3bceac;
}
.nav-container{
    background-color: #0ead69;
}
.navegador{
    color: #eff7f6;
}

/*definir el backgroud de header*/

/*definir el colro de letra*/