@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,500;1,300&display=swap');
*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
.body_container img{
    width: 300px;
    height: 200px;
    border-radius: 10px;

}

body{
    font-family: 'Rubik', sans-serif;
    background-color: var(--bg-color);
    
}
:root{
    --color-backgroud-header:#0ead69;
    --color-letras:#eff7f6;
    --bg-color:#10101a;
}

/**header*/
.nav-container{
    background-color:var(--color-backgroud-header);
    height: 70px;
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-radius: 5px;
}
.logo{
    display: flex;
    justify-content: center;
    align-items: center;
}
span{
    color:var(--color-letras);
}
.logo > img{
    height: 68px;
    
}
.caja_nav{
    display: flex;
    justify-content: center;
    
}

.navegador{
    display: flex;
    align-items: center;
}
li{
    display: flex;
    padding: 20px;
    font-size: 21px;
}

a{
    color: var(--color-letras);
}

a:hover{
    color:black
}

/*main*/
.body_container{
    width: 70%;
    margin: 50px auto;
    height: auto;
    padding: 60px 90px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 200px 200px 200px;
    gap: 20px;
    border-radius: 10px;

    
}
.clases{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    color: var(--color-letras);
    
    
}
.javascript_logo,.css_logo,.Html_logo{
    margin: 0 25%;
    
}
.javascript_text, .css_text, .html_text{
width: 400px;
height: 150px;
display: flex;
align-items: center;
}