@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,500;1,300&display=swap');
*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

body{
    font-family: 'Rubik', sans-serif;
}
:root{
    --color-backgroud-header:#0ead69;
    --color-letras:#eff7f6;
    --color_para_boydy:#0d3b66;
    -color-para-cajas:#3bceac;
}
.nav-container{
    background-color:var(--color-backgroud-header);
    height: 70px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.logo{
    margin-left: 20px;
}
.logo > img{
    height: 68px;
    
}
.caja_nav{
    display: flex;
    justify-content: end;
    
}

.navegador{
    display: flex;
    align-items: center;
    margin-right: 50px;
}
li{
    display: flex;
    padding: 20px;
    font-size: 21px;
}

a{
    color: var(--color-letras);
}

a:hover{
    color:black
}